<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>

</head>
<body>
    <%- include('./partials/navegar.ejs') %>
    <div class="header">
        <h1><%= title %></h1>
    </div>

    <div class="main-content container">
        <h2>404 - Página no encontrada</h2>
        <p>La página que estás buscando no existe.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
