<html lang="es">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navegar.ejs') %>
    <div class="about content">
        <h2>Acerca de:</h2>
        <p>Esto es una pruebaaaaa</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
