<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navegar.ejs') %>
    <h1><%= title %></h1>
    <main>
        <p>Tu sesión ha sido cerrada exitosamente.</p>
        <a href="/">Volver al inicio</a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>